

.wrap{
    display: flex;
    justify-content: center;
}
.p a{
    text-decoration: none;
    color: lightblue;
}
.card9{
    

    margin-top: 10rem;
    padding-top: 1rem;
    margin-bottom: 1.4rem;
    border: .1px solid hsl(195, 53%, 49%);
    border-radius: 1.7rem;
    text-align: center;
    height: 9rem;
    width: 22.5rem;
  

    p{
        font-size: 1.2rem;
        color: gray;

    }
    
}

@media(min-width:50em){
    .wrap{
     
        justify-self: center;
    }
}
