
.roadmap{
    margin-top: 3rem;
    color: hsl(0, 0%, 75%);
}
.center{
    display: flex;
    justify-content: center;
    
}
p{
    font-size: 1.3rem;
}
hr{
    width: 30rem;
}
.card1{

    padding: 1rem;
    margin-bottom: 2.4rem;
    font-family: "Tajawal", sans-serif;
    text-align: center;
    margin-left: .3rem;
    font-size: 1rem;
    margin-right: .3rem;
    p{
        font-size: 1.3rem;
    }
 
}
.button{
    background-color: transparent;
    font-family: mv boli;
    color: lightblue;
    border-radius:1rem ;
    margin-bottom: 2.5rem;
    padding: .7rem 2rem .7rem 2rem;
}
.flex{
    display: flex;
    justify-content: center;
}
.po{
    background-image: url('../images/project.png');
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid hsl(310, 10%, 88%);
    border-radius: 1rem;
    width: 20rem;
    height: 10rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: hsl(0, 0%, 80%);
    transform: rotateY(-18deg) rotateY(-16deg);
      a{
        text-decoration: none;
        color: #add8e6;
        margin-top: 2rem;
        }

}
.pe{
      background-image: url('../images/project.png');
    background-repeat: no-repeat;  
    background-position: center;
    border: 2px solid hsl(350, 100%, 93%);
    border-radius: 1rem;
    width: 21rem;
    height: 22rem;
    margin-bottom: 1.3rem;
    color: white;
        span{
            margin-top: 2rem;
            color: #000;
        }
        a{
        text-decoration: none;
        color: #add8e6;
        margin-top: 1rem;
        }
        p{
            font-size: 1.2rem;
            margin-top: 1.4rem;
            margin-left: .5rem;
            margin-right: .5rem;
            margin-bottom: .45rem;
        }
   
}
.pa{
    
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #add8e6;
    border-radius: 1rem;
    width: 20.5rem;
    padding: .8rem;
    margin-bottom: 2.3rem;
    height: 23rem;
    color: hsl(39, 77%, 88%);
    transform: rotateY(-18deg) rotateY(-16deg);
    p{
    margin-bottom: 1rem;
    font-size: 1.35rem;       
    }
    a{
        text-decoration: none;
        color: #add8e6;
        font-size: 1.3rem;
        position: relative;
        top: .5rem;
    
    }
   
}
.name{
    color:hsl(0, 80%, 77%);
}
.tech{
    color: hsl(0, 0%, 100%);
}
.card3{
  
    justify-content: center;
    background-size: cover;
    padding-top: .5rem;
    margin-bottom: 1.4rem;
    text-align: center;    
}

.card4{
  
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
   
    text-align: center;
   p{
    font-size: 1.1rem;
    margin-bottom: 1rem;

   }
    
}
.card5{
     
    background-size: cover;
    margin-top: 2rem;
    padding-top: 1.3rem;
    margin-bottom: 1.4rem;
   padding: 1rem;
    text-align: center;
    
    p{
     font-size: 1.1rem;
    margin-bottom: 1rem;

    }
    
    h4{
        font-size: 1.2rem;
        color: hsl(39, 77%, 86%);
    }
    
}

.card7{
 
    padding-top: 1rem;
    margin-bottom: 1.4rem;
  
    text-align: center;
        background-color: hsl(207, 20%, 19%);
        
        width: 100%;
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-bottom: 3rem;
        margin-top: -1rem;
      margin-bottom:-.3rem;
    
    h3{
        margin-bottom: 1rem;
        
        a{
            color: gray;
        }
    }
    p{
        font-size: 1.1rem;
        color: hsl(195, 53%, 89%);
            

    }
    
}

p{
    margin-bottom: -.2rem;
}
.contacct{
   position: relative;
   right: .2rem;
   top: 1rem;
}
@media(max-width:34em){
    hr{
        width: 21rem;
    }
}

@media(min-width:50em){
    
.roadmap{
    margin-top: 3rem;
    margin-left: rem;
      color: hsl(0, 0%, 65%);
}

.mid{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}
.pe{
    margin-left: 2rem;
}
.min{
    display: flex; 
    justify-content: center;
}
.card4{
    p{
        margin-left: 1rem;
        margin-right: 4rem;
    }
}


}