.bar{
    background:hsl(220, 20%, 57%);
    height:140vh;
    width: 20rem;
    border-radius: 5px;
    margin-top: 2px;
    
}

.section{
    display: flex;
    margin-bottom: 4rem;
    

}

.begin{
    display: flex;
    margin-bottom: 1rem;
    margin-top: 2.4rem;
}
.name{
    margin-left: 1.1rem;
    margin-top: 1.5rem;
    font-family: Mv Boli;
    color:black;
}
.img{
    margin-left: .7rem;
    margin-top: .7rem;
    padding: .2rem;
    background: hsl(0, 0%, 80%);
    border-radius: 1.6rem;
    margin-top:rem;
    
}


a{
    text-decoration: none;
    padding-bottom: 1rem;
    color: hsl(0, 0%, 10%);
    margin-bottom: 10rem;
}
.home{
    margin-bottom: 2.5rem;
    margin-left: 2rem;
    
    
}
.banks{
    margin-bottom: 2.5rem;
    margin-left: 2rem;
}
.history{
    margin-bottom: 2.5rem;
    margin-left: 2rem;
}
.transfer{
    margin-bottom: 2.5rem;
    margin-left: 2rem;
}
.homeimg{
    margin-bottom: -.3rem;
    margin-right: .7rem;

}
.bank{
    margin-bottom: -.3rem;
    margin-right: .7rem;
}
.historys{
    margin-bottom: -.3rem;
    margin-right: .7rem;
}
.transfers{
    margin-bottom: -.3rem;
    margin-right: .7rem;
    
}
.homelink{
    margin-left: .2rem;
    font-size: .88rem;

}
.banklink{
    margin-left: .5rem;
    font-size: .88rem;
    

}
.historylink{
    margin-left: .5rem;
    font-size: .88rem;
}
.transferlink{
    margin-left: .6rem;
    font-size: .88rem;
}
.hold{
      margin-bottom: -.6rem;
    margin-right: .7rem;
    border-radius: 1.5rem;
}
@media(max-width:50em){
    .bar{
        display: none;
    }
}