


.roadmap{
    margin-top: 3rem;
    margin-left: rem;
    
      color: hsl(0, 0%, 75%);
}
.center{
    display: flex;
    justify-content: center;
    
}
 p{
        font-size: 1.3rem;
            
     
 }
 hr{
    width: 30rem;
 }
.card1{

    padding: 1rem;
    margin-bottom: 2.4rem;
    font-family: "Tajawal", sans-serif;
    text-align: center;
    margin-left: 3rem;
    font-size: 1rem;
    margin-right: 3rem;
    p{
        font-size: 1.2rem;
    }
 
}
.button{
    background-color: transparent;
    font-family: mv boli;
    color: lightblue;
    border-radius:1rem ;
    margin-bottom: 1rem;
    padding: .7rem 2rem .7rem 2rem;
}
.flex{
    display: flex;
    justify-content: center;
}
.po{
        background-image: url('../../images/project.png');
    background-repeat: no-repeat;
  
    background-position: center;
    border: 2px solid hsl(350, 100%, 93%);
    border-radius: 1rem;
    width: 18rem;
    height: 15rem;
    margin-bottom: .3rem;
    color: lightblue;
    font-family: shadows into light;
    transform: rotateY(-18deg) rotateY(-16deg);
}
.pe{
      background-image: url('../../images/project.png');
    background-repeat: no-repeat;
  
    background-position: center;
    border: 2px solid hsl(350, 100%, 93%);
    border-radius: 1rem;
    width: 18rem;
    height: 15rem;
    margin-bottom: .3rem;
    color: white;
    font-family: shadows into light;
    transform: rotateY(-18deg) rotateY(-16deg); 
}
.pa{
    background-image: url('../../images/logo.png');
    background-repeat: no-repeat;

    background-position: center;
    border: 2px solid #add8e6;
    border-radius: 1rem;
    width: 18rem;
    margin-bottom: .3rem;
    height: 15rem;
    color: pink;
    font-family: shadows into light;
    transform: rotateY(-18deg) rotateY(-16deg);
}

.card3{
  
       justify-content: center;
    background-size: cover;
    padding-top: .5rem;
    margin-bottom: 1.4rem;
 
    text-align: center;
    
    
    
  
}
.card3:hover{
     transform: rotateY(-8deg) rotateY(-10deg);
}
.card4{
  
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
   
    text-align: center;
   p{
    font-size: 1.1rem;
    margin-bottom: 1.rem;

   }

  
   

    
    
    
}
.card5{
     
    background-size: cover;
    margin-top: 1rem;
    padding-top: 1.3rem;
    margin-bottom: 1.4rem;
   padding: 1rem;
   margin-left: 2rem;
   margin-right: 2rem;
    text-align: center;
 
    p{
     font-size: 1.1rem;
    margin-bottom: 1rem;
    }
    
    h4{
        font-size: 1.2rem;
        color: gray;
    }
    
}
.card6{
 
    padding-top: .4rem;
    margin-bottom: 1.4rem;
  
    text-align: center;
    height: 10rem;
    width: rem;
    justify-self: center;

    
      li{
        margin-top: .5rem;
    }
    
}
.card7{
 
    padding-top: 1rem;
    margin-bottom: 1.4rem;
  
    text-align: center;
    height: 11.4rem;
    width: rem;

    justify-self: center;
      margin-bottom:2rem;
    
    h3{
        margin-bottom: 1rem;
        
        a{
            color: gray;
        }
    }
    p{
        font-size: 1.1rem;
        color: hsl(195, 53%, 39%);
            

    }
    
}
.card8{
     
    padding-top: 1rem;
   
    margin-bottom: 1.4rem;
    
    text-align: center;
    height: 7rem;
   

    justify-self: center;
    
}
.card9{

    
    padding:.5rem ;
    margin-bottom: 1.4rem;
  
    text-align: center;
    height: 9rem;
    width: rem;
    
    

}
p{
    margin-bottom: -.2rem;
}
.contacct{
   position: relative;
   right: .2rem;
   top: 1rem;
}
span{
    margin-bottom: rem;
}

@media(min-width:50em){
    
.roadmap{
    margin-top: 3rem;
    margin-left: rem;
      color: hsl(0, 0%, 65%);
}

.mid{
    display: flex;
    justify-content: center;
}
.min{
    display: flex;
    
    justify-content: center;
}
.card4{
    p{
        margin-left: 1rem;
        margin-right: 4rem;
    }
}

}