
body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

  background-color: hsl(245, 50%, 18%);
}



.wrapper{

  display: flex;
  justify-content: center;
  
  
  
}

.wrappe{
  display: flex;

 justify-content: space-between;
}


.wrapp{
  display: flex;
  margin-right: rem;
  margin-bottom: 3rem;
  margin-left: rem;
  margin-top: .3rem;
  

}


.home-header{
 
  margin-left: 2rem;
  margin-top: .7rem;
  font-size: 1rem;
  
}
.headerbox{
  font-size: 1.5rem;
}
.name{
  margin-left: 1rem;

  color: hsl(210, 54%, 49%);
}
.subtext{
  font-size: .93rem;
  font-weight: 379;
}

.links{
  font-size: 1.5rem;
  margin-left: 1.5rem;
  margin-top: 1rem;



}
.active{
  background-color: antiquewhite;
  border-radius: 6px;
  padding: .5rem 1.6rem .5rem 1.5rem;
  margin-right: .7rem;

}
.nam{
  font-size: 1.8rem;
      
 font-family: "Tajawal", sans-serif;
  padding-top: rem;
  color: white;
}
.mobilenav{
  
}
.navbar{
  margin-top: -3rem;
  margin-left: 1rem;
  position: relative;
  top:.3rem;
  
}






.App{
  display:block;
}


.wrapper{
  
  display: block;
}
.wrappe{
  display: block;
}
  .wrapp{
  margin-left: -.4rem;

    
}

.flex{
  display: block;
}
.layout{
  position: relative;
}
.nam{
  font-size: 1.4rem;
  font-family: 'shadows into light';
  position: relative;
  top:rem;
  left: 1.8rem;
}
.veri{
  display: none;
  font-size: 1rem;
  font-family:'shadows into light' ;
  color:black;
  margin-left: 1.1rem;
  margin-top: 1.2rem;
  margin-bottom: -3.5rem;
  position: relative;
  top:1.2rem
}
  .mobilenav{
    background-color: hsl(235, 30%, 20%);
    padding: 1rem;
  
    font-size: 3rem;
    display: block;
    border-radius: 5px;
   
  
    
  }
  .logos{
    background: hsl(0, 0%, 80%);
    border-radius: 2rem;
    margin-top: .3rem;
    margin-left: 3.5rem;

  }

  .nav{
    display: flex;
    justify-content: space-between;
  }
  .navbar{
    margin-top: .9rem;
  }
  .mubible{
    
    display: none;
    position: relative;
    
    
  }
@media(min-width:80em) {
  .wrapp{
    margin-right: 13rem;
  }

}
