
body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

  background-color:hsl(190, 14%, 22%);
}



.wrapper{

  display: flex;
  justify-content: center;
  
  
  
}

.wrappe{
  display: flex;

 justify-content: space-between;
}


.wrapp{
  display: flex;
  margin-right: rem;
  margin-bottom: 3rem;
  margin-left: rem;
  margin-top: .3rem;
  

}


.home-header{
 
  margin-left: 2rem;
  margin-top: .7rem;
  font-size: 1rem;
  
}
.headerbox{
  font-size: 1.5rem;
}
.name{
  margin-left: 1rem;

  color: hsl(210, 54%, 49%);
}


.links{
  font-size: 1.5rem;
  margin-left: 1.5rem;
  margin-top: 1rem;



}
.active{
  background-color: antiquewhite;
  border-radius: 6px;
  padding: .5rem 1.6rem .5rem 1.5rem;
  margin-right: .7rem;

}
.nam{
  font-size: 1.8rem;
      
 font-family: "Tajawal", sans-serif;
  padding-top: rem;
  color: white;
}

.navbar{
  margin-top: -3rem;
  margin-left: 1rem;
  position: relative;
  top:.3rem;
  
}






.App{
  display:block;
}


.wrapper{
  
  display: block;
}
.wrappe{
  display: block;
}
  .wrapp{
  margin-left: -.4rem;

    
}

.flex{
  display: block;
}
.layout{
  position: relative;
}
.nam{
  font-size: 1.4rem;
  font-family: 'shadows into light';
  position: relative;
  top:rem;
  left: 1.8rem;
}
.veri{
    font-size: 1rem;
  font-family:'shadows into light' ;
  color:hsl(190, 30%, 90%);
  margin-left: 1.1rem;
  margin-top: 1.2rem;
  margin-bottom: -3.5rem;
  position: relative;
  top:1.2rem
}
  .mobilenav{
    background-color: hsl(200, 14%, 32%);
    padding: .8rem;
    height: 5rem;
    font-size: 3rem;
    display: block;
    border-radius: 5px;
   
  
    
  }
  .yes{
    transition: all ease-in-out 1s;
    height: 12rem;
    display: block;
  }
  .logos{
    background: hsl(0, 0%, 80%);
    border-radius: 2rem;
    margin-top: .3rem;
    margin-left: 3.5rem;

  }

  .nav{
    display: flex;
    justify-content: space-between;
  }
  .navbar{
    margin-top: .9rem;
  }
  .mubible{
    
    display: none;
    position: relative;
    
    
  }
  .flex{
    display: flex;
    justify-content: space-around;
    font-size: 1.4rem;
    color: hsl(190, 17%, 15%);
  }
  .flax:hover{
    color: white;
  }
  .flax{
    display: flex;
    margin-left: -1rem;
    p{
      margin-left: .7em;
      font-size: 1.1rem;
    }
  }
  .img{
       background: hsl(0, 0%, 80%);
    border-radius: 2rem;
    margin-top: 1rem;
 
  }
  
  .show{
    visibility: hidden;
    opacity: 0;
    translate: 0 -8vh;
    transition-property:  opacity display overlay;
    transition-duration: 1s;
    transition-behavior: allow-discrete;
    
  }
  .shw{
    visibility: visible;
    opacity: 1;
    translate: 0 0;
    @starting-style{
      opacity: 0;
      translate: 0 -8vh;
    }
  }
@media(min-width:80em) {
  .wrapp{
    margin-right: 13rem;
  }

}

